<header class="site-header outer"{{ with .Resources.GetMatch "cover.*" }} style="background-image: url({{ .Permalink }})"{{end}}>
  <div class="inner">
    <nav class="site-nav">
      <div class="site-nav-left">{{ with ($.Site.GetPage "images").Resources.GetMatch "logo-25.*" }}
        <a class="site-nav-logo" href="{{ $.Site.BaseURL }}"><img src="{{ .Permalink }}" alt="{{ $.Site.Title }}" /></a>{{end}}

        <ul class="nav" role="menu">
        {{ $currentNode := . }}
        {{with .Site.Menus.main}}
        {{ range sort . "Weight" "desc"}}
            <li class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}}nav-current{{end}}" role="menuitem">
              <a href="{{.URL}}">{{.Name}}</a>
            </li>
        {{end}}{{end}}
      </ul></div>

      <div class="site-nav-right">
        <div class="social-links">
            {{ if .Site.Params.githubName }}<a class="social-link" href="https://github.com/{{ .Site.Params.githubName }}" target="_blank" rel="noopener">{{ partial "svg-github" . }}</a>{{end}}
            {{ if .Site.Params.twitterName }}<a class="social-link social-link-tw" href="https://twitter.com/{{ .Site.Params.twitterName }}" target="_blank" rel="noopener">{{ partial "svg-twitter" . }}</a>{{end}}
            {{ if .Site.Params.linkedinName }}<a class="social-link" href="https://www.linkedin.com/in/{{ .Site.Params.linkedinName }}" target="_blank" rel="noopener">{{ partial "svg-linkedin" . }}</a>{{end}}
            {{ if .Site.Params.fbName }}<a class="social-link social-link-fb" href="https://www.facebook.com/{{ .Site.Params.fbName }}" target="_blank" rel="noopener">{{ partial "svg-facebook" . }}</a>{{end}}
        </div>
        {{ if .Site.Params.RSSLink}}
        <a class="rss-button" href="{{.Site.Params.RSSLink }}" target="_blank" rel="noopener">
            {{ partial "svg-rss" . }}
        </a>
        {{else if .Site.Params.showSubscribe}}
        <a class="rss-button" href="{{if .IsNode}}{{.RSSLink}}{{else}}{{"index.xml" | absURL}}{{end}}" target="_blank" rel="noopener">
            {{ partial "svg-rss" . }}
        </a>
        {{end}}
      </div>

    </nav>

    <div class="site-header-content">
        {{ with .Resources.GetMatch "photo-100.*" }}
            <img class="author-profile-image" src="{{ .Permalink }}" alt="{{.Title}}" />
        {{end}}
        <h1 class="site-title">{{.Title}}</h1>{{$.Scratch.Set "total" (len .Data.Pages)}}
        <h2 class="author-bio">{{.Params.bio}}</h2>
        <div class="author-meta">
            {{if .Params.location}}
                <div class="author-location">{{.Params.location}} <span class="bull">&bull;</span></div>
            {{end}}
            <div class="author-stats">
                {{if ge ($.Scratch.Get "total") 2 }}{{$.Scratch.Get "total"}} posts
                {{else}}{{$.Scratch.Get "total"}} post{{end}} <span class="bull">&bull;</span>
            </div>

            {{ if .Site.Params.fbName }}<a class="social-link social-link-fb" href="https://www.facebook.com/{{ .Site.Params.fbName }}" target="_blank" rel="noopener">{{ partial "svg-facebook" . }}</a>{{end}}
            {{ if .Site.Params.twitterName }}<a class="social-link social-link-tw" href="https://twitter.com/{{ .Site.Params.twitterName }}" target="_blank" rel="noopener">{{ partial "svg-twitter" . }}</a>{{end}}
            {{ if .Site.Params.githubName }}<a class="social-link" href="https://github.com/{{ .Site.Params.githubName }}" target="_blank" rel="noopener">{{ partial "svg-github" . }}</a>{{end}}
            {{ if .Site.Params.linkedinName }}<a class="social-link" href="https://www.linkedin.com/in/{{ .Site.Params.linkedinName }}" target="_blank" rel="noopener">{{ partial "svg-linkedin" . }}</a>{{end}}

            {{ if .Params.RSSLink}}
            <a class="rss-button" href="{{.Params.RSSLink }}" target="_blank" rel="noopener">
                {{ partial "svg-rss" . }}
            </a>
            {{else if .Site.Params.showSubscribe}}
            <a class="rss-button" href="{{if .IsNode}}{{.RSSLink}}{{else}}{{"index.xml" | absURL}}{{end}}" target="_blank" rel="noopener">
                {{ partial "svg-rss" . }}
            </a>
            {{end}}
        </div>
    </div>
  </div>
</header>