<header class="site-header outer">
  <div class="inner">
    <nav class="site-nav">
      <div class="site-nav-left">{{ if .Site.Params.logoImage }}
        {{ $logoImage := .Site.Params.logoImage }}
        {{ $imgLogo := (resources.Get $logoImage).Resize "25x25 q90 Lanczos" }}
        <a class="site-nav-logo" href="#"><img src="{{ $imgLogo.Permalink }}" alt="{{ .Site.Title }}" /></a>{{end}}

        <ul class="nav" role="menu">
        {{ $currentNode := . }}
        {{with .Site.Menus.main}}
        {{ range sort . "Weight" "desc"}}
            <li class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}}nav-current{{end}}" role="menuitem">
              <a href="{{.URL}}">{{.Name}}</a>
            </li>
        {{end}}{{end}}
      </ul></div>

      <div class="site-nav-right">
        <div class="social-links">
            {{ if .Site.Params.fbName }}<a class="social-link social-link-fb" href="https://www.facebook.com/{{ .Site.Params.fbName }}" target="_blank" rel="noopener">{{ partial "svg-facebook" . }}</a>{{end}}
            {{ if .Site.Params.twitterName }}<a class="social-link social-link-tw" href="https://twitter.com/{{ .Site.Params.twitterName }}" target="_blank" rel="noopener">{{ partial "svg-twitter" . }}</a>{{end}}
            {{ if .Site.Params.githubName }}<a class="social-link" href="https://github.com/{{ .Site.Params.githubName }}" target="_blank" rel="noopener">{{ partial "svg-github" . }}</a>{{end}}
            {{ if .Site.Params.linkedinName }}<a class="social-link" href="https://www.linkedin.com/in/{{ .Site.Params.linkedinName }}" target="_blank" rel="noopener">{{ partial "svg-linkedin" . }}</a>{{end}}
        </div>  
        {{ if .Site.Params.RSSLink}}
        <a class="rss-button" href="{{.Site.Params.RSSLink }}" target="_blank" rel="noopener">
            {{ partial "svg-rss" . }}
        </a>
        {{else if .Site.Params.showSubscribe}}
        <a class="rss-button" href="{{if .IsNode}}{{.RSSLink}}{{else}}{{"index.xml" | absURL}}{{end}}" target="_blank" rel="noopener">
            {{ partial "svg-rss" . }}
        </a>
        {{end}}
      </div>

    </nav>  

    <div class="site-header-content">
        <h1 class="site-title">{{.Title}}</h1>{{$.Scratch.Set "total" (len .Data.Pages)}}
        <h2 class="site-description">
                {{if ge ($.Scratch.Get "total") 2 }}A collection of {{$.Scratch.Get "total"}} posts
                {{else}}{{$.Scratch.Get "total"}} post{{end}}
        </h2>
    </div>
  </div>
</header>