{{ if .IsPage }} <!-- Credit V JEANTET -->
    {{ with .Resources.GetMatch "cover.*" }}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="{{ .Permalink }}"/>
    {{ else }}
    <meta name="twitter:card" content="summary"/>
    {{ end }}

    {{if .Params.authors}}{{with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (index .Params.authors 0))}}
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="{{.Title}}" />
    {{end}}{{end}}
    <meta name="twitter:label2" content="Filed under" />
    <meta name="twitter:data2" content="{{ range $idx, $tag := .Params.tags }}{{if gt $idx 0}}, {{end}}{{$tag}}{{end}}" />
{{ else }}
    <meta name="twitter:card" content="summary"/>
    {{with ($.Site.GetPage "images").Resources.GetMatch "cover.*" }}
    <meta name="twitter:image" content="{{ .Permalink }}"/>{{ end }}
{{ end }} <!-- Twitter Card data -->
    <meta name="twitter:title" content="{{ if .IsHome }}{{ .Title }}{{ else }}{{ trim (.Params.MetaTitle | default .Title) "\n" }} &middot; {{ .Site.Title }}{{ end }}"/>
    {{if .IsPage}}
    <meta name="twitter:description" content="{{ trim ((.Params.MetaDescription | default .Description) | default (substr .Summary 0 160) | plainify) "\n" }}"/>
    {{ else }}
    <meta name="twitter:description" content="{{ trim (.Site.Params.metadescription | default .Site.Params.description | plainify) "\n" }}"/>
    {{ end }}
    <meta name="twitter:url" content="{{.URL | absURL}}" />
    <meta name="twitter:site" content="@{{ .Site.Params.twitterName }}"/>
    <meta name="twitter:creator" content="@{{ .Site.Params.twitterName }}"/>
