<meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:title" content="{{ if .IsHome }}{{ .Title }}{{ else }}{{ trim (.Params.MetaTitle | default .Title) "\n" }} &middot; {{ .Site.Title }}{{ end }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    {{if .Site.Params.fbName}}<meta property="article:publisher" content="https://www.facebook.com/{{.Site.Params.fbName}}" />{{end}}
{{ if .IsPage }}
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ trim ((.Params.MetaDescription | default .Description) | default (substr .Summary 0 160) | plainify) "\n" }}" />

    <meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />
    <meta property="article:modified_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />
    {{ range .Params.tags }}<meta property="article:tag" content="{{ . }}" />
    {{ end }}
{{ else }}
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ trim (.Site.Params.metadescription | default .Site.Params.description | plainify) "\n" }}" />
{{ end }}{{if .Params.image }}
    {{ $postImage := .Params.image }}
    {{ $imgPost := (resources.Get $postImage).Resize "x800 q50 Lanczos" }}
    <meta property="og:image" content="{{ $imgPost.Permalink }}"/>
    <meta property="og:image:width" content="{{ $imgPost.Width }}" />
    <meta property="og:image:height" content="{{ $imgPost.Height }}" />
{{else}}{{with .Site.Params.mainCover}}{{ $imgCover := (resources.Get .).Resize "600x q50 Lanczos" }}
    <meta property="og:image" content="{{ $imgCover.Permalink }}"/>
    <meta property="og:image:width" content="{{ $imgCover.Width }}" />
    <meta property="og:image:height" content="{{ $imgCover.Height }}" />{{end}}{{end}}