{{ range $index, $element := .Paginator.Pages }}
{{ with $element }}
    <article class="post-card post{{if not (.Resources.GetMatch "cover.*") }} no-image{{end}}">
        {{ with .Resources.GetMatch "cover.*" }}
        <a class="post-card-image-link" href="{{ $element.Permalink }}">
            {{ with .Resize "x200 q85 Lanczos" }}
            <div class="post-card-image" style="background-image: url({{ .Permalink }})"></div>
            {{ end }}
        </a>
        {{end}}
    
        <div class="post-card-content">
          <a class="post-card-content-link" href="{{ .Permalink }}">
              <header class="post-card-header">
                  {{if .Params.tags }}
                  <span class="post-card-tags">{{ range first 1 .Params.tags }} {{.}} {{end}} </span>
                  {{ end }}
                  <h2 class="post-card-title">{{.Title}}</h2>
              </header>
              <section class="post-card-excerpt">
                  {{ if .Description }} 
                    <p>{{ .Description | markdownify }}</p>
                  {{else}}
                    <p>{{ .Summary | plainify | safeHTML }}</p>
                  {{end}}
              </section>
          </a>
    
          <footer class="post-card-meta">
              {{if .Params.authors}}
                {{ with $author := $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (index .Params.authors 0)) }}
                {{ with .Resources.GetMatch "photo-60.*" }}
              <img class="author-profile-image" src="{{ .Permalink }}" alt="{{ $author.Title }}" />
              {{end}}{{end}}{{end}}
              <span class="post-card-reading-time">{{.ReadingTime}} min read</span>
              {{if .Params.authors}}{{with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (index .Params.authors 0))}}
              <span class="post-card-author"><a href="{{.Permalink}}">{{.Title}}</a></span>
              {{end}}{{end}}
          </footer>
        </div>
    </article>
{{ end }}
{{ end }}