{{ $imageRef := (.Get 0) }}
{{ $imageAlt := (.Get 1) }}
{{ if hasPrefix $imageRef "http" }}
    <!-- hacks until I figure out something better for getting the dimensions of remote images -->
    <amp-img src="{{ $imageRef }}" alt="{{ $imageAlt }}" width="600" height="400" layout="responsive"></amp-img>
{{ else }}
    {{ with (resources.Get $imageRef).Resize "600x q50 Lanczos" }}
        <amp-img src="{{ .Permalink }}" alt="{{ $imageAlt }}" width="{{ .Width }}" height="{{ .Height }}" layout="responsive"></amp-img>
    {{ end }}
{{ end }}